<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        /* --CHANGES THE COLORS ON THE PAGE-- */
        body {
            background-color: <%=brandguide.bgcolor %>;
            color: <%=brandguide.fontcolor %>;
        }

        input {
            background-color: <%=brandguide.bgcolor %>;
        }

        .topnav,
        .sidenav {
            background-color: <%=brandguide.navbgcolor %>;
        }

        .sidenav-logo {
            border-right: 1px solid <%=brandguide.fontcolor %>;
        }

        .sidenav-item {
            border-right: 1px solid <%=brandguide.fontcolor %>;
        }

        .sidenav-end {
            border-right: 1px solid <%=brandguide.fontcolor %>;
        }

        .sideactive {
            border-bottom: 1px solid <%=brandguide.fontcolor %>;
            border-top: 1px solid <%=brandguide.fontcolor %>;
        }

        .topnav a,
        .sidenav a {
            color: <%=brandguide.fontcolor %>;
        }

        .topactive,
        .sideactive {
            background-color: <%=brandguide.bgcolor %>;
        }

        .topactive {
            border-bottom: 1px solid <%=brandguide.bgcolor %>;
        }

        .topmain,
        .sidemain {
            background-color: <%=brandguide.bgcolor %>;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="../main.js"></script>
    <script src="https://kit.fontawesome.com/704ff50790.js" crossorigin="anonymous">
    </script>
    <title>
        <%= title %>
    </title>

</head>

<body>
    <div class="<%= brandguide.layout %>nav">
        <div class="<%= brandguide.layout %>nav-logo">
            <a href="/view/<%= brandguide._id %>"><img src="/uploads/image/<%= brandguide.firstimage %>"
                    alt="Davinci text" style="width:200px;height:200;"></a>
        </div>
        <div class="<%= brandguide.layout %>nav-items">
            <a href="/view/<%= brandguide._id %>" class="<%= brandguide.layout %>nav-item">Intro</a>
            <a href="/logo/<%= brandguide._id %>" class="<%= brandguide.layout %>nav-item">
                <%= brandguide.logoHeader %>
            </a>
            <a href="/font/<%= brandguide._id %>" class="<%= brandguide.layout %>nav-item">
                <%= brandguide.fontHeader %>
            </a>
            <a href="/color/<%= brandguide._id %>" class="<%= brandguide.layout %>active"><span>
                    <%= brandguide.colorsHeader %>
                </span></a>
            <a href="/media/<%= brandguide._id %>" class="<%= brandguide.layout %>nav-item">
                <%= brandguide.mediaHeader %>
            </a>
            <a href="/optionalone/<%= brandguide._id %>" class="<%= brandguide.layout %>nav-item"> More</a>
        </div>
        <div class="<%= brandguide.layout %>nav-end">
        </div>
    </div>


    <div class="<%= brandguide.layout %>main">
        <div class="<%= brandguide.layout %>flexbox-container" id="intro">
            <div class="row">
                <div>
                    <div>
                        <div>
                            <h3 class="text-dark">
                                <%= brandguide.colorsHeader %>
                            </h3>
                        </div>
                        <div class="image-content"><img src="/uploads/colorsimage/<%= brandguide.colorsimage %>" width="300px"
                                height="300px" /></div>
                        <div class="text-content">
                            <%= brandguide.colorDescription %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
