<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-color: <%=brandguide.bgcolor %>;
            color: <%=brandguide.fontcolor %>;
        }

        input {
            background-color: <%=brandguide.bgcolor %>;
        }

        .topnav,
        .sidenav {
            background-color: <%=brandguide.navbgcolor %>;
        }

        .sidenav-logo {
            border-right: 1px solid <%=brandguide.fontcolor %>;
        }

        .sidenav-item {
            border-right: 1px solid <%=brandguide.fontcolor %>;
        }

        .sidenav-end {
            border-right: 1px solid <%=brandguide.fontcolor %>;
        }

        .sideactive {
            border-bottom: 1px solid <%=brandguide.fontcolor %>;
            border-top: 1px solid <%=brandguide.fontcolor %>;
        }

        .topnav a,
        .sidenav a {
            color: <%=brandguide.fontcolor %>;
        }

        .topactive,
        .sideactive {
            background-color: <%=brandguide.bgcolor %>;
        }

        .topactive {
            border-bottom: 1px solid <%=brandguide.bgcolor %>;
        }

        .topmain,
        .sidemain {
            background-color: <%=brandguide.bgcolor %>;
        }

        h2 {
            border-bottom: 1px solid <%=brandguide.fontcolor %>;
        }

        input[type=submit] {
            border: 1px solid <%=brandguide.fontcolor %>;
        }

        .form-label {
            color: <%=brandguide.fontcolor %>;
            border: 1px solid <%=brandguide.fontcolor %>;
        }

        .accordion {
            background-color: <%=brandguide.bgcolor %>;
            color: <%=brandguide.fontcolor %>;
        }

        .active,
        .accordion:hover {
            background-color: <%=brandguide.bgcolor %>;
        }

        .panel {
            background-color: <%=brandguide.bgcolor %>;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/edit.css">
    <script src="../main.js"></script>
    <script src="https://kit.fontawesome.com/704ff50790.js" crossorigin="anonymous">
    </script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="<%= brandguide.layout %>nav">
        <div class="<%= brandguide.layout %>nav-logo">
            <a href="#"><img src="/uploads/image/<%= brandguide.firstimage %>" alt="Main logo"></a>
        </div>
        <div class="<%= brandguide.layout %>nav-items">
            <a href="#" class="<%= brandguide.layout %>active"><span>Intro</span></a>
            <a href="#logo" class="<%= brandguide.layout %>nav-item">
                <%= brandguide.logoHeader %>
            </a>
            <a href="#font" class="<%= brandguide.layout %>nav-item">
                <%= brandguide.fontHeader %>
            </a>
            <a href="#colors" class="<%= brandguide.layout %>nav-item">
                <%= brandguide.colorsHeader %>
            </a>
            <a href="#media" class="<%= brandguide.layout %>nav-item">
                <%= brandguide.mediaHeader %>
            </a>
            <a href="#more" class="<%= brandguide.layout %>nav-item">More</a>
        </div>

        <div class="<%= brandguide.layout %>nav-end">
        </div>
    </div>

    <div class="<%= brandguide.layout %>main">
        <div class="container">
            <div class="row">
                <div>
                    <div>
                        <div>
                            <h1>Edit ' <%= brandguide.name %> ' brandguide</h1>
                        </div>
                        <div>
                            <form action="/update/<%= brandguide._id %> " method="post" id="add-form"
                                enctype="multipart/form-data">
                                <div>
                                    <label for="name">Project name:</label>
                                    <input type="text" name="name" value="<%= brandguide.name %>"
                                        placeholder="Enter name" required />
                                </div>

                                <div>
                                    <div>
                                        <label for="firstimage">Select main logo:</label>
                                    </div>
                                    <input class="form-label" type="file" class="hide_file" name="firstimage" />
                                    <br>
                                    <img src="/uploads/image/<%= brandguide.firstimage %> " width="200"
                                        class="image-upload-current" />

                                    <input type="hidden" name="old_firstimage" value="<%= brandguide.firstimage %> " />
                                </div>

                                <div>
                                    <label for="description">Description</label>
                                    <input type="text" name="description" value="<%= brandguide.description %>"
                                        placeholder="Enter description" />
                                </div>
                                <div>
                                    <label for="creator">Creator</label>
                                    <br>
                                    <input type="text" name="creator" value="<%= brandguide.creator %>"
                                        placeholder="Enter creator" required />
                                </div>
                                <div class="font-panel">
                                    <h4>Font color:</h4>
                                    <input class="radio" type="radio" name="fontcolor" value="black">
                                    <label>Black</label>
                                    <input class="radio" type="radio" name="fontcolor" value="white"
                                        style="margin-left: 50px;">
                                    <label>White</label>
                                </div>
                                <div>
                                    <label for="bgcolor">Background-color</label>
                                    <input type="text" name="bgcolor" value="<%= brandguide.bgcolor %>"
                                        placeholder="Enter bgcolor" required />
                                </div>
                                <div>
                                    <label for="navbgcolor">Navigation background-color</label>
                                    <input type="text" name="navbgcolor" value="<%= brandguide.navbgcolor %>"
                                        placeholder="Enter navbgcolor" required />
                                </div>
                                <p>* Supports CSS color names, HEX, RGB, RGBA, HSL, HSLA, Predifined/cross-browser
                                    color names</p>

                                <div class="layout">
                                    <h4>Layout:</h4>
                                    <input class="radio" type="radio" name="layout" value="side">
                                    <img src="../images/side-layout-white.png" width="190px" height="120px"
                                        class="layout-images">
                                    <input class="radio" type="radio" name="layout" value="top"
                                        style="margin-left: 50px;">
                                    <img src="../images/top-layout-white.png" width="190px" height="120px"
                                        class="layout-images">
                                </div>
                                <div class="accordion" id="logo">
                                    <h2>
                                        <img src="../images/down.png" width="50px" height="35px" class="accordion-logo">
                                        <%= brandguide.logoHeader %>
                                    </h2>
                                </div>
                                <div class="panel">
                                    <div>
                                        <label for="logoHeader">
                                            <%= brandguide.logoHeader %>
                                        </label>
                                        <br>
                                        <input type="text" name="logoHeader" value="<%= brandguide.logoHeader %>"
                                            placeholder="Enter Logo Header" />
                                    </div>
                                    <div>
                                        <label for="logoDescription">Logo description</label>
                                        <input type="text" name="logoDescription"
                                            value="<%= brandguide.logoDescription %>"
                                            placeholder="Enter Logo Description" />
                                    </div>
                                    <div>

                                        <div>
                                            <label for="logoimage">Select logo image:</label>
                                        </div>
                                        <input class="form-label" type="file" class="hide_file" name="logoimage" />
                                        <br>
                                        <img src="/uploads/logoimage/<%= brandguide.logoimage %> " width="200"
                                            class="image-upload-current" />
                                    </div>
                                    <input type="hidden" name="old_logoimage" value="<%= brandguide.logoimage %> " />
                                    <p>* Image will be displayed in 1000*600px</p>
                                </div>


                                <div class="accordion" id="font">
                                    <h2>
                                        <img src="../images/down.png" width="50px" height="35px" class="accordion-logo">
                                        <%= brandguide.fontHeader %>
                                    </h2>
                                </div>
                                <div class="panel">
                                    <div>
                                        <label for="fontHeader">Font header</label>
                                        <input type="text" name="fontHeader" value="<%= brandguide.fontHeader %>"
                                            placeholder="Enter Font Header" />
                                    </div>
                                    <div>
                                        <label for="fontDescription">Font description</label>
                                        <input type="text" name="fontDescription"
                                            value="<%= brandguide.fontDescription %>"
                                            placeholder="Enter Font Description" />
                                    </div>
                                    <div>
                                        <label for="fontimage">Select font image:</label>
                                    </div>
                                    <input class="form-label" type="file" class="hide_file" name="fontimage" />
                                    <br>
                                    <img src="/uploads/fontimage/<%= brandguide.fontimage %> " width="200"
                                        class="image-upload-current" />



                                    <input type="hidden" name="old_fontimage" value="<%= brandguide.fontimage %> " />
                                    <p>* Image will be displayed in 1000*600px</p>
                                </div>

                                <div class="accordion" id="colors">
                                    <h2>
                                        <img src="../images/down.png" width="50px" height="35px" class="accordion-logo">
                                        <%= brandguide.colorsHeader %>
                                    </h2>

                                </div>
                                <div class="panel">
                                    <div>
                                        <label for="colorsHeader">Colors header</label>
                                        <input type="text" name="colorsHeader" value="<%= brandguide.colorsHeader %>"
                                            placeholder="Enter Colors Header" />
                                    </div>
                                    <div>
                                        <label for="colorsDescription">Colors description</label>
                                        <input type="text" name="colorsDescription"
                                            value="<%= brandguide.colorsDescription %>"
                                            placeholder="Enter Colors Description" />
                                    </div>
                                    <div>
                                        <label for="colorsimage">Select colors image:</label>
                                    </div>
                                    <input class="form-label" type="file" class="hide_file" name="colorsimage" />
                                    <br>
                                    <img src="/uploads/colorsimage/<%= brandguide.colorsimage %> " width="200"
                                        class="image-upload-current" />

                                    <input type="hidden" name="old_colorsimage"
                                        value="<%= brandguide.colorsimage %> " />
                                    <p>* Image will be displayed in 1000*600px</p>
                                </div>

                                <div class="accordion" id="media">
                                    <h2>
                                        <img src="../images/down.png" width="50px" height="35px" class="accordion-logo">
                                        <%= brandguide.mediaHeader %>
                                    </h2>
                                </div>
                                <div class="panel">
                                    <div>
                                        <label for="mediaHeader">Media header</label>
                                        <input type="text" name="mediaHeader" value="<%= brandguide.mediaHeader %>"
                                            placeholder="Enter Media Header" />
                                    </div>
                                    <div>
                                        <label for="mediaDescription">Media description</label>
                                        <input type="text" name="mediaDescription"
                                            value="<%= brandguide.mediaDescription %>"
                                            placeholder="Enter Media Description" />
                                    </div>
                                    <div>
                                        <label for="mediaimage">Select media image:</label>
                                    </div>
                                    <input class="form-label" type="file" class="hide_file" name="mediaimage" />
                                    <br>
                                    <img src="/uploads/mediaimage/<%= brandguide.mediaimage %> " width="200"
                                        class="image-upload-current" />
                                    <p>* Image will be displayed in 1000*600px</p>
                                </div>


                                <div class="accordion" id="more">
                                    <h2>
                                        <img src="../images/down.png" width="50px" height="35px" class="accordion-logo">
                                        Optionals
                                    </h2>
                                </div>
                                <div class="panel">
                                    <div>
                                        <label for="optionalOneHeader">First optional header</label>
                                        <input type="text" name="optionalOneHeader"
                                            value="<%= brandguide.optionalOneHeader %>"
                                            placeholder="Enter optionalOneHeader" />
                                    </div>
                                    <div>
                                        <label for="optionalOneDescription">First optional description</label>
                                        <input type="text" name="optionalOneDescription"
                                            value="<%= brandguide.optionalOneDescription %>"
                                            placeholder="Enter optionalOneDescription" />
                                    </div>
                                    <div>
                                        <label for="optionalOneimage">Select first optional image:</label>
                                    </div>
                                    <input class="form-label" type="file" class="hide_file" name="optionalOneimage" />
                                    <br>
                                    <img src="/uploads/optionalOneimage/<%= brandguide.optionalOneimage %> " width="200"
                                        class="image-upload-current" />

                                    <input type="hidden" name="old_optionalOneimage"
                                        value="<%= brandguide.optionalOneimage %> " />
                                    <p>* Image will be displayed in 1000*600px</p>

                                    <div>
                                        <label for="optionalTwoHeader">Second optional header</label>
                                        <input type="text" name="optionalTwoHeader"
                                            value="<%= brandguide.optionalTwoHeader %>"
                                            placeholder="Enter optionalTwoHeader" />
                                    </div>
                                    <div>
                                        <label for="optionalTwoDescription">Second optional description</label>
                                        <input type="text" name="optionalTwoDescription"
                                            value="<%= brandguide.optionalTwoDescription %>"
                                            placeholder="Enter optionalTwoDescription" />
                                    </div>
                                    <div>
                                        <label for="optionalTwoimage">Select second optional image:</label>
                                    </div>
                                    <input class="form-label" type="file" class="hide_file" name="optionalTwoimage" />
                                    <br>
                                    <img src="/uploads/optionalTwoimage/<%= brandguide.optionalTwoimage %> " width="200"
                                        class="image-upload-current" />

                                    <input type="hidden" name="old_optionalTwoimage"
                                        value="<%= brandguide.optionalTwoimage %> " />
                                    <p>* Image will be displayed in 1000*600px</p>
                                </div>
                                <input type="submit" name="submit" value="Update brandguide" />
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>